body{
	background: #f5f6fa;
}
.toubu{
	width: 100%;
	height: 0.89rem;
	background: #007be3;
	/* opacity: 0.8; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.toubu ul {
	width: 100%;
	height: 100%;
}
.toubu ul li{
	width: 20%;
	height: 100%;
	font-size: 0.32rem;
	color: #fff;
	text-align: center;
	line-height: 0.89rem;
	float: left;
}
.xuanzhong{
	/* width: 100%; */
	/* height: 0.06rem; */
	border-bottom: 0.06rem solid #fff;
}
.banner{
	width: 100%;
	height: 4.14rem;
	background-image: url('../img/1.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.banner img{
	width: 100%;
	height: 100%;
	display: block;
}
.bannerx{
	width: 100%;
	height: 17.37rem;
	/* margin: 0 auto; */
	padding: 0.1rem 0.24rem 0rem;
}
.bannerx1{
	width: 100%;
	height: 0.7rem;
	font-size: 0.24rem;
	color: #494747;
	text-align: center;
	line-height: 0.7rem;
}
.banner1-1{
	width: 0.48rem;
	height: 100%;
	margin-right: 0.14rem;
	float: left;
}
.banner1-2{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
}
.banner1-3{
	width: 0.96rem;
	height: 100%;
	float: left ;
	margin-left: 0.14rem;
}
.bannerx2{
	width: 100%;
	height: 16.45rem;
	background: #fff;
	padding: 0.1rem 0.24rem 0rem;
	margin-top: 0.2rem;
}
.banner2-1{
	width: 100%;
	height: 0.8rem;
	border-radius: 0.07rem;
	border: 0.02rem solid #01b5ff;
	margin-bottom: 0.2rem;
}
.banner2-1-1{
	background: #01b5ff;
    border-radius: 0.07rem;
    color: #ffffff;
    width: 33.33%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.28rem;
    position: relative
}
.sanjiao{
	position: absolute;
    width: 0rem;
    height: 0rem;
    border: 0.2rem solid;
    border-top-color: #01b5ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: 0.74rem;
    left: 50%;
    margin-left: -0.1rem;

}
.banner2-1-2{
	width: 33.33%;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.28rem;
    color: #111111;
}
.banner3{
	width: 100%;
	height: 14.35rem;

}
.banner3 ul{
	width: 100%;
	height: 100%;

}
.banner3 ul li{
	width: 100%;
	height: 2.87rem;
	padding: 0.2rem;
	border-bottom: 0.02rem solid #b8b8b8;

}
.zhaopian{
	width: 2.3rem;
    height: 2.3rem;
    margin-top: 0.15rem;
    border-radius: 0.08rem;
    overflow: hidden;
    float: left;
}
.zhaopian img{
	width: 100%;
	height: 100%;
	display: block;
}
.xinxi{
	width: 3.6rem;
    height: 1.92rem;
    float: right;
    margin-top: 0.34rem;
    overflow: hidden;
}
.xinxi1	{
	width: 100%;
	height: 0.98rem;
    float: left;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mingzi{
	font-size: 0.26rem;
    color: #111;
    height: 0.3rem;
    line-height: 0.3rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.xian{
	border-bottom: 1px dashed #b8b8b8;
    width: 3.6rem;
    height: 0;
    margin: 0.2rem 0;
}
.xinxi2{
	width: 3.03rem;
    height: 0.3rem;
    color: #666666;
    font-size: 0.24rem;
    float: left;
    margin-top: 0.2rem;
    line-height: 0.3rem;
    text-align: left;
    background-color: #fff;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.xinxi3{
	width: 100%;
	height: 0.64rem;
	float: left;
    color: #ff9300;
    height: 0.24rem;
    font-size: 0.24rem;
    margin-top: 0.1rem;
}
.xinxi4{
	font-size: 0.24rem;
    color: #01b5ff;
    width: 100%;
    height: 0.26rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 0.24rem;
    margin-left: 0;
}
.banner4{
	width: 100%;
	height: 0.8rem;
	margin-top: 0.2rem;
	padding-top: 0.15rem;
}
.diyi{
	float: left;
	width: 0.5rem;
	height: 0.5rem;
	/* padding: 0.1rem; */
	margin:0rem 0.15rem 0rem 0.3rem ;
}
.diyi img{
	width: 100%;
	height: 100%;
	display: block;
}
.dier{
	float: left;
	width: 1.48rem;
	height: 0.5rem;
	/* padding: 0.1rem; */
	margin:0rem 0.15rem 0rem 0rem ;
}
.dier img{
	width: 100%;
	height: 100%;
	display: block;
}
.disan{
	float: left;
	width: 1.48rem;
	height: 0.5rem;
	/* padding: 0.1rem; */
	margin:0rem 0.15rem 0rem 0rem ;
}
.disan img{
	width: 100%;
	height: 100%;
	display: block;
}
.disi{
	float: left;
	width: 0.5rem;
	height: 0.5rem;
	/* padding: 0rem 0.1rem; */
	margin:0rem 0.15rem 0rem 0rem ;
}
.disi img{
	width: 100%;
	height: 100%;
	display: block;
}
.yeshu{
	border: 0.02rem solid #666;
    letter-spacing: 1px;
    color: #666;
    width: 1.4rem;
    float: left;
    padding: 0.1rem;
    height: 0.5rem;
    border-radius: 0.4rem;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.3rem;
    margin-right: 0.15rem;
}
.banquan{
	width: 100%;
	height: 1.2rem;

}
.banquan1{
	width: 100%;
	height: 0.52rem;
	padding-top: 0.18rem;
	text-align: center;
	line-height: 0.34rem;
	font-size: 0.24rem;
	color: #666;
}
.banquan2{
	width: 100%;
	height: 0.44rem;
	padding-top: 0.18rem;
	text-align: center;
	line-height: 0.34rem;
	font-size: 0.24rem;
	color: #666;
}
.dibu{
	width: 100%;
	height: 0.8rem;
	background: #e7e7e7;
	position: relative;
	position: fixed;
	bottom: 0;
	left: 0;
}
.d1{
	width: 2.25rem;
	height: 100%;
	float: left;
}
.d1t{
	width: 0.32rem;
	height: 0.32rem;
	margin-top: 0.28rem;
	margin-left: 0.27rem;
	float: left;
}
.d1t img{
	width: 100%;
	height: 100%;
	display: block;
}
.d1z{
	float: left;
	width: 1.04rem;
	height: 100%;
	margin-left: 0.1rem;
	font-size: 0.26rem;
	color: #000;
	text-align: center;
	line-height: 0.8rem;
}
.d2{
	width: 2.25rem;
	height: 100%;
	float: right;
}
.d3{
	width: 3rem;
	height: 0.9rem;
	border-radius: 0.08rem;
	background: #ff8d12;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.d1t1{
	width: 0.36rem;
	height: 0.36rem;
	margin-top: 0.28rem;
	margin-left: 0.7rem;
	float: left;
}
.d1t1 img{
	width: 100%;
	height: 100%;
	display: block;
}
.d1z1{
	float: left;
	width: 1.2rem;
	height: 100%;
	margin-left: 0.1rem;
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
	line-height: 0.9rem;
}
.baitiao{
	width: 100%;
	height: 0.8rem;
}